.navbar-text {
    background-color: rgb(44, 44, 204);
    color: white;
    margin-bottom:10px;
    margin: 25px;;
}
a{
    color: white;  
    margin: 20px;
}
.logo{
    height: 100px;
    float: right;
    margin-top: 25px;
    margin-right: 20; 
}


.border{
    border-width: 10px !important;
    border-color: rgb(44, 44, 204) !important;
}

h2{
    color:red;
    padding-top: 50px;
    font-style: italic;
    margin-right:20%;
}













.footer{
    background-color: rgb(44, 44, 204);
    height: 100px;
    
}
button {
    float:left;
    margin-left:10px;
    margin-top: 10px;

}
input{
    margin-top:10px;
    margin: right 10px;
}
.video{
    padding-top: 50px;
}
.socialmedia {
     margin-right:10px;
     float:right;
     margin-top:10px;
}
.copyright {

        margin:auto;
        text-align: center;
        margin-top: 30px;
        clear:top;
        color: white;
}




























    /*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
 
/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
 
 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
 
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}
 
 
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 
 
}





